[MAIN]
ignore-paths=venv

[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        fixme,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        invalid-name,
        line-too-long,
        too-many-arguments,
        too-many-branches,
        too-many-return-statements,
        too-many-positional-arguments,
        too-many-statements,
        too-many-locals,
        too-many-instance-attributes,
        too-few-public-methods,
        broad-exception-caught,
        broad-exception-raised,
        similarities


